@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500&display=swap');

body {
    margin: 0;
    background-color: #fff;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
}

#main-content {
    margin-left: 15%;
}

h1 {
    font-weight: 700;
    color: #2C88EF;
    font-size: 4em;
    margin-bottom: 0;
}
h2 {
    margin-top: .2em;
    font-size: 1.6em;
}


#link-display {
    min-width: 500px;
    font-size: 18px;
    padding: 6px;
    padding-top: 8px;
    border-radius: .4em;
    margin-right: 0;
    display: inline-block;
    vertical-align: top;
    background: #F7F8FB;
    color: rgb(68, 86, 104);
    border: 2px solid #2C88EF;
    padding-right: 40px;
    user-select: all;
    -moz-user-select: all;
    transition: .4s;
    font-family: "Lucida Console", monospace;
}
#copy-button {
    stroke: #b5c9e2;
    margin-left: -36px;
    margin-top: 6px;
    cursor: pointer;
    transition: .4s;
    user-select: none;
}

#copy-button:hover {
    stroke: #2C88EF;
}

.check-container > * {
    display: inline;
}
.check-container {
    margin-bottom: 6px;
}
.check-text {
    top: -6px;
    position: relative;
}
.param-label {
    margin-top: 18px;
    margin-bottom: 12px;
    font-weight: 500;
}
.param-label.close {
    margin-top: 12px;
}
.start-select {
    width: 50px;
    position: relative;
    appearance: none;
    background-color: transparent;
    border: none;
    padding: .1em 2px .1em .2em;
    margin: 0;
    font-size: 1em;
    cursor: pointer;
    border: 2px solid #B5C9E2;
    background-color: #F7F8FB;
    transition: .4s;
    z-index: 1;
    border-radius: 4px;
}
.start-select:focus {
    z-index: 2;
    outline: none;
    border: 2px solid #2C88EF;
}
#start-hour {
    border-radius: 4px 0 0 4px;
}
#start-min {
    border-radius: 0 4px 4px 0;
    left: -7px;
}
.input-info {
    position: relative;
    display: inline-block;
    top: -4px;
    width: 50px;
    padding-left: 2px;
    font-size: 12px;
    color: #677280;
}


/* MESSEGE */
.message-container {
    width: 100%;
    position: fixed;
    bottom: -100px;
    display: none;
    animation: none;
    transition: all .5s;
}
.message-container.show {
    animation: message 4s;
    display: inherit;
}
.message {
    width: 300px;
    background: #F7F8FB;
    box-sizing: border-box;
    padding: .4em;
    margin: auto;
    border-radius: .4em;
}
.message-container.error .message {
    border-bottom: 4px solid #FE6666;
}
.message-container.info .message {
    border-bottom: 4px solid #2C88EF;
}
.message-container.warn .message {
    border-bottom: 4px solid #EFD52C;
}
.message-inline-link {
  cursor: pointer;
  text-decoration: underline;
}

/* @ */

@keyframes message {
    0%   {bottom: -100px; opacity: 1;}
    10%  {bottom: 40px; opacity: 1;}
    90%  {bottom: 40px; opacity: 1;}
    100% {bottom: -100px; opacity: 0;}
}

@media only screen and (max-width: 880px) {
  #box-container {
    max-width: 100%;
    width: 432px;
    }
}

/* CHECKBOX */

.check-mark-container {
    position: relative;
    padding-left: 20px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    user-select: none;
  }
  .check-box {
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  .check-mark {
    position: absolute;
    top: -2px;
    left: 0;
    height: 20px;
    width: 20px;
    border-radius: 4px;
    border: 2px solid #b5c9e2;
    transition: all .4s;
  }
  .check-mark-container .check-box:checked ~ .check-mark {
    background-color: #2C88EF;
    border: 2px solid #2C88EF;
  }
  .check-mark:after {
    content: "";
    position: absolute;
    display: none;
  }
  .check-mark-container .check-box:checked ~ .check-mark:after {
    display: block;
  }
  .check-mark-container .check-mark:after {
    left: 5px;
    top: 1px;
    width: 6px;
    height: 12px;
    border: solid #fff;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
  }



@media (max-width: 700px) {
    #main-content {
        margin-left: 15px;
    }
    h1 {
        font-size: 2em;
    }
    #link-display {
        min-width: 0;
        max-width: calc(100% - 60px);
        overflow-wrap: break-word;
    }
}